build/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bridgestone</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <script>
      //объект доступных дат - месяцы нумеруются от 0, доступная дата должна быть с ключом 1. Есть возможность разную загрузку доступных дат делать.
      window.dateObj=[
      	
      	{
      		day: 10,
      		month: 2,
      		year: 2017,
      		load: 1
      	},
      	{
      		day: 11,
      		month: 2,
      		year: 2018,
      		load: 1
      	},
      	
      	{
      		day: 13,
      		month: 3,
      		year: 2017,
      		load: 1
      	},
      	{
      		day: 14,
      		month: 3,
      		year: 2017,
      		load: 1
      	}]
      /////////////////////////
      
    </script>
    <section class="workspace-content">
      <nav><a href="index.html" class="active play"> <span>Вебинары</span></a><a href="section.html" class="study"> <span>Обучающие презентации</span></a></nav>
      <div class="layout-content">
        <h1>	Стандарты продаж</h1>
        <div class="p date-of-siminar">	Дата проведения<span>	Вт 20-00, сб 18-00</span></div>
        <div class="photo"><img src="img/content.png"></div>
        <div class="desc">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse			cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <div class="strong">						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <h2>	Запись на <span>стандарт продаж (вт 20-00, сб 18-00)</span></h2>
        <div class="desc">	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <form class="call2action">
          <div class="ib">
            <p>1. Выберите дату</p>
            <p>вт 20-00, сб 18-00</p>
            <div class="calendar">
              <input id="calendar" type="hidden" data-inline="true" placeholder="Выберите дату вебинара" class="flatpickr">
            </div>
          </div>
          <div class="ib">
            <p>2. Выберите свободное место.</p>
            <p>Всего мест: 12</p>
            <label for="id1"><span>1</span>
              <input type="radio" name="place" id="id1">
            </label>
            <label for="id2"><span>2</span>
              <input type="radio" name="place" id="id2">
            </label>
            <label for="id3"><span>3</span>
              <input type="radio" name="place" id="id3">
            </label>
            <label for="id4"><span>4</span>
              <input type="radio" name="place" id="id4">
            </label>
            <label for="id5"><span>5</span>
              <input type="radio" name="place" id="id5">
            </label>
            <label for="id6"><span>6</span>
              <input type="radio" name="place" id="id6">
            </label>
            <label for="id7"><span>7</span>
              <input type="radio" name="place" id="id7">
            </label>
            <label for="id8"><span>8</span>
              <input type="radio" name="place" id="id8">
            </label>
            <label for="id9"><span>9</span>
              <input type="radio" name="place" id="id9">
            </label>
            <label for="id10"><span>10</span>
              <input type="radio" name="place" id="id10">
            </label>
            <label for="id11"><span>11</span>
              <input type="radio" name="place" id="id11">
            </label>
            <label for="id12"><span>12</span>
              <input type="radio" name="place" id="id12">
            </label>
          </div>
          <div class="ib">
            <p>3. Укажите информацию для связи с Вами</p><br>
            <input type="text" name="name" placeholder="Имя"><br>
            <input type="text" name="phone" placeholder="Телефон"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <button>Бронировать</button>
          </div>
        </form>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      //для демонстрации - убрать на продакшине
      	$(document).ready(function(){
      	
      		$('label').each(function(index){
      			if(index<3)
      				$(this).addClass('disabled').find('input').attr('disabled',true)
      		})
      	})
      
    </script>
    <style>
      	
      body{
      	margin: 0;
      	padding: 0;
      	background-color: #e6e9ee;
      	}
    </style>
  </body>
</html>

src/index.jade
doctype html
html(lang="en")

	head
		title Bridgestone
		link(rel="stylesheet", href="css/main.css")
		
	body

		script.
			//объект доступных дат - месяцы нумеруются от 0, доступная дата должна быть с ключом 1. Есть возможность разную загрузку доступных дат делать.
			window.dateObj=[
				
				{
					day: 10,
					month: 2,
					year: 2017,
					load: 1
				},
				{
					day: 11,
					month: 2,
					year: 2018,
					load: 1
				},
				
				{
					day: 13,
					month: 3,
					year: 2017,
					load: 1
				},
				{
					day: 14,
					month: 3,
					year: 2017,
					load: 1
				}]
			/////////////////////////

		section.workspace-content
			nav
				a(href="index.html").active.play 
					span Вебинары
				a(href="section.html").study 
					span Обучающие презентации

			.layout-content
				h1	Стандарты продаж
				.p.date-of-siminar	Дата проведения
					span	Вт 20-00, сб 18-00

				.photo
					img(src="img/content.png")

				.desc	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse			cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					.strong						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				h2	Запись на 
					span стандарт продаж (вт 20-00, сб 18-00)

				.desc	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.





				form.call2action
					.ib
						p 1. Выберите дату
						p вт 20-00, сб 18-00

						.calendar
							input#calendar.flatpickr(type="hidden", data-inline="true", placeholder="Выберите дату вебинара")


					.ib
						p 2. Выберите свободное место.
						p Всего мест: 12
						- for(var i=1; i<13; i++){
							label(for="id"+i)
								span=i
								input(type="radio", name="place", id="id"+i)
						- }
						
					.ib
						p 3. Укажите информацию для связи с Вами
						br
						input(type="text", name="name", placeholder="Имя")
						br
						input(type="text", name="phone", placeholder="Телефон")
						br
						input(type="email", name="email", placeholder="Email")
						br

						button Бронировать

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

		script(src="js/main.js")


		script.
			//для демонстрации - убрать на продакшине
				$(document).ready(function(){
				
					$('label').each(function(index){
						if(index<3)
							$(this).addClass('disabled').find('input').attr('disabled',true)
					})
				})

		style|	
			| body{
			|	margin: 0;
			|	padding: 0;
			|	background-color: #e6e9ee;
			|	}
